<div>
    <p>Dear AU Bank Team,</p>

    <p>Please find attached the request letter for the cancellation of the Demand Draft. <br /> The physical copy of the letter and DD has been sent to your branch.</p>
    <ul>
        <li>DD No: {{data.chequeNo}}</li>
        <li>Beneficiary Name: {{data.beneficiaryName}}</li>
        <li>Amount: {{data.amountFormatted}}</li>
    </ul>
    <p>Please cancel and credit the amount to our account</p>
    <ul>
        <li>Account Name: Volks Energie Pvt. Ltd.</li>
        <li>Account No.: 2506245699295180</li>
        <li>IFSC Code: AUBL00002456</li>
    </ul>

    <p>
        Regards,<br />
        Piyush Goyal,<br />
        Director, Volks Energie Pvt. Ltd.
    </p>
</div>